body {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

#main {
    width: 626px;
    height: 486px;
    top: 64px;
    left: 199px;
    margin: 64px auto;
}

#main .img1 {
    margin: 0 72px 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-size: 32px;
    line-height: 40.45px;
    font-weight: normal;
}

#main h1 {
    margin: 0 30px 16px 16px;
}

.paragrafo__1 {
    margin: 0 36px;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

body strong, a {
    color: #3F3D56;
    text-decoration: none;
}

.palavra__flutuar {
    color: #828282;
}

#footer a + a {
    margin-left: 42px;
}

#footer #line {
    width: 391px;
    height: 0;
    margin: 0 auto 16px;
    border: 1px solid #ECEFF2;
}

#footer {
    margin-bottom: 144px;
}

#wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}